{% extends 'base.html'%}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form role="form" class='change-password-form' action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
          <h2>Change password form:</h2>
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }} {{ field }}
              {{ field.errors }}
            </div>
          {% endfor %}
          <!--<div class="form-group">-->
          <!--  <label for="old_password">Old password (*)</label>-->
          <!--  <input class="form-control" type="password" name="old_password" placeholder="Your old password" value="">-->
          <!--  {{ form.old_password.errors }}-->
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--  <label for="new_password">New password (*)</label>-->
          <!--  <input class="form-control" type="password" name="new_password" placeholder="Your new password" value="">-->
          <!--  {{ form.new_password.errors }}-->
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--  <label for="repeated_new_password">Repeated new password (*)</label>-->
          <!--  <input class="form-control" type="password" name="repeated_new_password" placeholder="Your repeated new password" value="">-->
          <!--  {{ form.repeated_new_password.errors }}-->
          <!--</div>-->
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
