{% extends 'base.html'%}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form role="form" class='reset-password-form' action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% if form.errors %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <h2>Did you forget your password?</h2>
          <h4>Enter your email and we'll contact you:</h4>
          <div class="form-group">
            <input class="form-control" name="email" placeholder="Your email" value="">
            {{ form.email.errors }}
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
